body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#gridSizeChangeBtn {
    margin: 15px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 90vh;
    height: 90vh;
    align-content: stretch;
}

#square {
    border: 1px solid grey;
    box-sizing: border-box;
    margin: 0;
    flex: 1 1 6.25%;
}

.hovered {
    background-color: navy;
}